OPENAI_API_BASE="https://dev.cybertron.ailab.trendops.co"
OPENAI_API_KEY="sk-XXXXXXXXXXXXXXX"
OPENAI_MODEL="Primus-Christmas"
DEFAULT_DB_PATH="/sqlite/chainlit.db"
SERVICE_HOST=http://localhost
# AWS Secret (Only for scan usage.)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_SECURITY_TOKEN=
